@model BrowserGame.Models.Persons

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<h4>Персонаж</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonsID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Возраст</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label">Сила</label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health" class="control-label">Здоровье</label>
                <input asp-for="Health" class="form-control" />
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Defense" class="control-label">Защита</label>
                <input asp-for="Defense" class="form-control" />
                <span asp-validation-for="Defense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
