button.knopka {
    color: #fff;
    background: #88bbd6;
    padding: 25px;
    border-radius: 15px;
    border: 3px solid #cc0000;
}

button.knopka:hover {
        background: #00303f;
    }

body {
    /* Margin bottom by footer height */
    background: url('/img/bg_snake.jpg');
    background-attachment: fixed;
    background-position: left;
}
