@{
    ViewData["Title"] = "Домашняя страница";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<style>
    button.knopka {
        color: #fff;
        background: #88bbd6;
        padding: 25px;
        border-radius: 15px;
        border: 3px solid #cc0000;
    }

        button.knopka:hover {
            background: #00303f;
        }
</style>

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">@User.Identity.Name<br /><br />Необходимо выбрать персонаж</h1>
        <form action="\Persons\Index">
            <button class="knopka">Выбрать</button>
        </form>
    }
    else
    {
        <h1 class="display-4">Добро пожаловать</h1>
    }
    <!--
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        -->
</div>
