@{
    ViewData["Title"] = "Домашняя страница";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
<link rel="stylesheet" href="~/css/Style.css" />


<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">@User.Identity.Name<br /><br /></h1>
        <h2>Необходимо выбрать персонаж</h2>
        <form action="\Persons\Index">
            <button class="btn btn-primary">Выбрать</button>
        </form>
    }
    else
    {
        <h1 class="display-4">Добро пожаловать</h1>
    }
    <!--
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        -->
</div>
