@model BrowserGame.ViewModels.LogsViewModel

<h1>Логи</h1>
<form asp-action="Logs" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <p>
        Выберите дату: <input asp-for="Date" type="date">
        <span asp-validation-for="Date" class="text-danger"></span>
    </p>
    <p><input type="submit" class="btn btn-primary" value="Выбрать"></p>
    <textarea id="area" readonly rows="20" class="bg-secondary text-light form-control">@Model.Text</textarea>
</form>
