
@{
    ViewData["Title"] = "Подтверждение email";
}

<h2>Подтверждение email</h2>
<div class="alert alert-warning">Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме!</div>

