@{
    ViewData["Title"] = "Подтверждение установки нового пароля";
}

<h2>@ViewData["Title"]</h2>
<div 
     class="alert alert-success">Ваш пароль установлен. Пожалуйста, нажмите <a asp-action="Login">здесь</a> для авторизации.
</div>